<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Farm</title>
</head>

<body>
  <form action="/farms" method="POST">
    <h2>Add A Farm</h2>
    <section>
      <label for="name">Farm Name</label>
      <input type="text" name="name" id="name" placeholder="farm name">
    </section>
    <section>
      <label for="city">City</label>
      <input type="text" name="city" id="city" placeholder="farm price">
    </section>
    <section>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="farm email">
    </section>
    <button type="submit">Submit</button>
  </form>
  <a href="/products">Canecl</a>
</body>

</html>