<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>The Home Page<%= %></h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe aliquam enim laboriosam reiciendis deleniti eveniet
    accusantium quos ut hic officiis. Magni odio nam quidem, voluptatibus minima natus corporis commodi sit.</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab nesciunt eius itaque quos, dolore tempore sunt! Modi
    hic quas odit illum officiis, itaque optio, velit voluptas numquam, cumque doloribus impedit?</p>
</body>

</html>